<div class="gallery-highlighted-view" [class.closed]="!isOpen">
    <div id="view-visual">
        <app-minecraft-skin-viewer [skinImage]="skinImage" [width]="300*1.2" [height]="400*1.2" [walkingEnabled]="isWalking" [outerEnabled]="hasOuter"></app-minecraft-skin-viewer>
    </div>
    <div class="controls">
        <div class="view-controls">
            <mat-checkbox class="example-margin" color="primary" [(ngModel)]="hasOuter">Outer</mat-checkbox>
            <mat-checkbox class="example-margin" color="primary" [(ngModel)]="isWalking">Walking</mat-checkbox>
            <a mat-raised-button color="primary" target="_blank" download [href]="skinImage">Download</a>
        </div>
    </div>
</div>
<div class="overlay" [class.closed]="!isOpen" (click)="onEscape()">
    
</div>