h1 {
    font-size: calc(15px + 1.5vw);
    padding: calc(10px + 2vw);
    width: 80%;
    min-width: 500px;
    max-width: 1200px;
    text-align: center;
}

:host {
    display: flex;
    flex-direction: row;
    justify-content: center;
}