<div id="main">
    <app-showcase-screen-focus title="Basic concept behind GANs" paragraph="They make fake human faces"></app-showcase-screen-focus>

    <app-showcase-screen-focus title="Why training GANs is so tricky" paragraph="TODO"></app-showcase-screen-focus>

    <app-showcase-screen-focus title="Common Training Difficulties" paragraph="TODO"></app-showcase-screen-focus>

    <app-showcase-screen-focus title="Mode Collapse" paragraph="TODO"></app-showcase-screen-focus>

    <app-showcase-screen-focus title="Non convergence" paragraph="TODO"></app-showcase-screen-focus>

    <app-showcase-screen-focus title="Vanishing Gradient" paragraph="TODO"></app-showcase-screen-focus>

    <app-showcase-screen-focus title="Try it out yourself!" paragraph="While GANs are very difficult to train, we provide a simple playground for experimenting with GANs with no need to wait hours for your GAN to give abysmal results. Click \'Play\' to get some hands on experience!"></app-showcase-screen-focus>

</div>