<div id="main" appScrollSnap class="mat-app-background">

    <div id="tutorial-splash-title">
        <!-- <div id="rad-image"></div> -->
        <div id="title-text">

            <h1 id="title-start">This Minecraft Player</h1>
            
            <h1 id="dne" class="red-emphasis">DOES NOT</h1>    
            <h1 id="exist" class="red-emphasis">EXIST</h1>
        </div>
        
        <div id="rolling-images">
            <div class="rolling-images-slides">
                <img src="http://cdn.akc.org/content/article-body-image/lab_puppy_dog_pictures.jpg">
                <img src="http://cdn.akc.org/content/article-body-image/lab_puppy_dog_pictures.jpg">
                <img src="http://cdn.akc.org/content/article-body-image/lab_puppy_dog_pictures.jpg">
                <img src="http://cdn.akc.org/content/article-body-image/lab_puppy_dog_pictures.jpg">
                <img src="http://cdn.akc.org/content/article-body-image/lab_puppy_dog_pictures.jpg">
                <img src="http://cdn.akc.org/content/article-body-image/lab_puppy_dog_pictures.jpg">
                <img src="http://cdn.akc.org/content/article-body-image/lab_puppy_dog_pictures.jpg">
                <img src="http://cdn.akc.org/content/article-body-image/lab_puppy_dog_pictures.jpg">
                
            </div>

            <div class="rolling-images-slides">
                <img src="http://cdn.akc.org/content/article-body-image/lab_puppy_dog_pictures.jpg">
                <img src="http://cdn.akc.org/content/article-body-image/lab_puppy_dog_pictures.jpg">
                <img src="http://cdn.akc.org/content/article-body-image/lab_puppy_dog_pictures.jpg">
                <img src="http://cdn.akc.org/content/article-body-image/lab_puppy_dog_pictures.jpg">
                <img src="http://cdn.akc.org/content/article-body-image/lab_puppy_dog_pictures.jpg">
                <img src="http://cdn.akc.org/content/article-body-image/lab_puppy_dog_pictures.jpg">
                <img src="http://cdn.akc.org/content/article-body-image/lab_puppy_dog_pictures.jpg">
                <img src="http://cdn.akc.org/content/article-body-image/lab_puppy_dog_pictures.jpg">
                
            </div>

            <div class="rolling-images-slides">
                <img src="http://cdn.akc.org/content/article-body-image/lab_puppy_dog_pictures.jpg">
                <img src="http://cdn.akc.org/content/article-body-image/lab_puppy_dog_pictures.jpg">
                <img src="http://cdn.akc.org/content/article-body-image/lab_puppy_dog_pictures.jpg">
                <img src="http://cdn.akc.org/content/article-body-image/lab_puppy_dog_pictures.jpg">
                <img src="http://cdn.akc.org/content/article-body-image/lab_puppy_dog_pictures.jpg">
                <img src="http://cdn.akc.org/content/article-body-image/lab_puppy_dog_pictures.jpg">
                <img src="http://cdn.akc.org/content/article-body-image/lab_puppy_dog_pictures.jpg">
                <img src="http://cdn.akc.org/content/article-body-image/lab_puppy_dog_pictures.jpg">
                
            </div>
        </div>
    </div>
<!-- 
    <app-introduction></app-introduction> -->

    <div id="page-introduction">
        <h1>Can you spot the real Minecrafter?</h1>
        <div class="text-box">
            <div class="text-box-title">The Basics</div>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>

    </div>

    <app-showcase-screen-focus title="The Basics" paragraph="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.">
        <!-- <div id="rad-image"></div> -->
    </app-showcase-screen-focus>

    <app-showcase-screen-focus title="Inherent Difficulties" paragraph="TODO"></app-showcase-screen-focus>

    <h2>Training Difficulties</h2>

    <app-showcase-screen-focus title="Mode Collapse" paragraph="TODO"></app-showcase-screen-focus>

    <app-showcase-screen-focus title="Non convergence" paragraph="TODO"></app-showcase-screen-focus>

    <app-showcase-screen-focus title="Vanishing Gradient" paragraph="TODO"></app-showcase-screen-focus>

    <app-showcase-screen-focus title="Try it out yourself!" paragraph="While GANs are very difficult to train, we provide a simple playground for experimenting with GANs with no need to wait hours for your GAN to give abysmal results. Click \'Play\' to get some hands on experience!"></app-showcase-screen-focus>

</div>