<app-scroll-focus [extraScrolling]="200" [innerHeight]="100" (scrolledIn)="scrolled($event)">
    <div id="mode-collapse-main" appScrollObserver [percentageCenter]="0.25" (scrolledIntoView)="inView($event)" (window:resize)="onResize($event)">
        <h2 [@pop-in]="hasBeenViewed ? 't-visible' : 't-hidden'" >Mode Collapse</h2>
        <p [@pop-in]="hasBeenViewed ? 'p-visible' : 'p-hidden'">Mode collapse occurs when the generator lacks variety. For example, if a GAN trained on cat images experienced mode collapse, you would end up with just one type of cat and nothing else.</p>
        <div *ngFor="let row of matrix; let r = index">
            <div *ngFor="let col of matrix[r]; let c = index">
                <img [@cat-spam]="matrix[r][c] ? 'visible' : 'hidden'" 
                     src="https://timesofindia.indiatimes.com/photo/67586673.cms"
                     [style.left.px]="c*100+500"
                     [style.top.px]="r*100+300"
                     >
            </div>
        </div> 
    </div>
</app-scroll-focus>
