<div id="showcase-main-container" class="mat-app-background">

    <h1 id="showcase-title">Minecraft Skin GAN</h1>

    <mat-card id="showcase-card">
        <mat-card-header>
            <mat-card-title>Minecraft Skin Generator</mat-card-title>
            <mat-card-subtitle>this Minecrafter does not exist</mat-card-subtitle>
        </mat-card-header>
    
        <mat-card-content>
            <app-minecraft-skin-viewer></app-minecraft-skin-viewer>
        </mat-card-content>
    </mat-card>

    <div id="showcase-rolling-background">

    </div>

</div>
