<div id="app-main-container">
    
    <div id="main" appScrollSnap>

        <div id="landing-screen" class="landing-screen-theme screen">

            <div id="app-main-header" class="retro-theme-text">
                <a>Home</a>
                <a>Process</a>
                <a>Playground</a>
                <a>Gallery</a>
                <a>About</a>
            </div>

            <div id="landing-showcase">
                <div id="title-text">
    
                    <h1 id="title-start">This Minecraft Player</h1>
                    
                    <h1 id="dne" class="red-emphasis">DOes NOT </h1>    
                    <h1 class="red-emphasis" id="exist">Exist</h1>
                </div>
        
                <app-minecraft-skin-viewer></app-minecraft-skin-viewer>
            </div>
            
            <!-- <img id="title-skin" src="/assets/images/landing-page-blowup.png"> -->
            
            <!-- <div id="rolling-images">
                <div class="rolling-images-slides">
                    <img src="http://cdn.akc.org/content/article-body-image/lab_puppy_dog_pictures.jpg">
                    <img src="http://cdn.akc.org/content/article-body-image/lab_puppy_dog_pictures.jpg">
                    <img src="http://cdn.akc.org/content/article-body-image/lab_puppy_dog_pictures.jpg">
                    <img src="http://cdn.akc.org/content/article-body-image/lab_puppy_dog_pictures.jpg">
                    <img src="http://cdn.akc.org/content/article-body-image/lab_puppy_dog_pictures.jpg">
                    <img src="http://cdn.akc.org/content/article-body-image/lab_puppy_dog_pictures.jpg">
                    <img src="http://cdn.akc.org/content/article-body-image/lab_puppy_dog_pictures.jpg">
                    <img src="http://cdn.akc.org/content/article-body-image/lab_puppy_dog_pictures.jpg">
                    
                </div>
    
                <div class="rolling-images-slides">
                    <img src="http://cdn.akc.org/content/article-body-image/lab_puppy_dog_pictures.jpg">
                    <img src="http://cdn.akc.org/content/article-body-image/lab_puppy_dog_pictures.jpg">
                    <img src="http://cdn.akc.org/content/article-body-image/lab_puppy_dog_pictures.jpg">
                    <img src="http://cdn.akc.org/content/article-body-image/lab_puppy_dog_pictures.jpg">
                    <img src="http://cdn.akc.org/content/article-body-image/lab_puppy_dog_pictures.jpg">
                    <img src="http://cdn.akc.org/content/article-body-image/lab_puppy_dog_pictures.jpg">
                    <img src="http://cdn.akc.org/content/article-body-image/lab_puppy_dog_pictures.jpg">
                    <img src="http://cdn.akc.org/content/article-body-image/lab_puppy_dog_pictures.jpg">
                    
                </div>
    
                <div class="rolling-images-slides">
                    <img src="http://cdn.akc.org/content/article-body-image/lab_puppy_dog_pictures.jpg">
                    <img src="http://cdn.akc.org/content/article-body-image/lab_puppy_dog_pictures.jpg">
                    <img src="http://cdn.akc.org/content/article-body-image/lab_puppy_dog_pictures.jpg">
                    <img src="http://cdn.akc.org/content/article-body-image/lab_puppy_dog_pictures.jpg">
                    <img src="http://cdn.akc.org/content/article-body-image/lab_puppy_dog_pictures.jpg">
                    <img src="http://cdn.akc.org/content/article-body-image/lab_puppy_dog_pictures.jpg">
                    <img src="http://cdn.akc.org/content/article-body-image/lab_puppy_dog_pictures.jpg">
                    <img src="http://cdn.akc.org/content/article-body-image/lab_puppy_dog_pictures.jpg">
                    
                </div>
            </div> -->
        </div>
    <!-- 
        <app-introduction></app-introduction> -->
    
        <div id="introduction-screen" class="screen">
            <h2 class="screen-title">The Minecraft spinoff of "thispersondoesnotexist" you didn't know you needed.</h2>
            <div class="screen-content">
                <div>
                    <app-custom-card title="Our Mission">
                        ThisMinecraftPlayerDoesNotExist is an experiment to see if we could recreate the GAN phenonomen known as thispersondoesnotexist in the context of the voxel sandbox game Minecraft.
                        More importantly, we hope this website can introduce people to what GAN's are in a fun, interactive format. We hope you enjoy this as much as we did making this!
                    </app-custom-card>
                </div>
                
                <div>
                    <img src="http://cdn.akc.org/content/article-body-image/lab_puppy_dog_pictures.jpg">
                </div>
                
            </div>                        
        </div>
    
        <div class="screen">
            <h2 class="screen-title">Behind the Scenes</h2>
            <div class="screen-content">
                <div>
                    <app-custom-card title="Preparing Data">
                        Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsum
                    </app-custom-card>
                    <app-custom-card title="Lightweight GAN">
                        Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsum
                    </app-custom-card>
                </div>
                
                <div>
                    <img src="/assets/images/skins-intermediate.png">
                </div>
                
            </div>      
            
        </div>
    
        <div id="gan-explanation-screen" class="screen">
            <h2 class="screen-title">GAN Basics</h2>
            <div class="screen-content">
                <div>
                    <img src="/assets/images/skins-intermediate.png">
                </div>
                <div>
                    <app-custom-card title="discriminator vs. generator">
                        Best said by the writers at fast.ai, “GAN stands for Generative Adversarial Nets and were invented by Ian Goodfellow.” A GAN takes in data and creates two elements to generate new images. The first is a critic, a model that will take in the true data and the generated images and determine which is true and which has been generated. The second element is the generator, a model that takes in the data, analyzes similarities, and makes its own, trying to trick the critic into believing its images. Because of this, a GAN improves by attempting to fool itself. <a class="report-link" href="https://colab.research.google.com/github/fastai/fastai/blob/master/nbs/24_vision.gan.ipynb#scrollTo=_YkGTzCj7GhD">source</a>
                    </app-custom-card>
                    <app-custom-card title="inherent instabilities">
                        Due to the adversarial nature of GANs, there is the inherent issue of instability. The two elements of a GAN, the critic and the generator, are trying to get the best of each other, and both grow through this competition. If one were to become stronger than the other, competition begins to dissolve, and neither model improves.
                    </app-custom-card>
                </div>
                
            </div>
            
        </div>
    
        <div class="screen" id="about-screen">
            <h2>Mission</h2>
            <p>Our team has dedicated itself to ensuring the next generation of computer scientists and tinkerers can get a working understanding of cutting edge generative technology. Our philosophy is that learning is done best when one is able to play with and get a "feel" of this technology before the math and theory behind it is studied. We believe our product GAN Labs achieves this intuition via the playground activity. Through it, users are able to get a sense for how GAN's are difficult to train and how each of the parameters work together, all without the frustrations and time wasting of training GAN's with one's own resources.</p>
        </div>
    
    </div>
</div>


