<div id="app-main-container">
    
    <div id="main">

        <div id="landing-screen" class="landing-screen-theme screen">

            <div id="app-main-header" class="retro-theme-text">
                <a>Home</a>
                <a>Process</a>
                <a>Playground</a>
                <a>Gallery</a>
                <a>About</a>
            </div>

            <div id="landing-showcase">
                <div id="title-text">
    
                    <h1 id="title-start">This Minecraft Player</h1>
                    
                    <h1 id="dne" class="red-emphasis">DOes NOT </h1>    
                    <h1 class="red-emphasis" id="exist">Exist</h1>
                </div>
        
                <app-minecraft-skin-viewer></app-minecraft-skin-viewer>
            </div>
            
            <!-- <img id="title-skin" src="/assets/images/landing-page-blowup.png"> -->
            
            <!-- <div id="rolling-images">
                <div class="rolling-images-slides">
                    <img src="http://cdn.akc.org/content/article-body-image/lab_puppy_dog_pictures.jpg">
                    <img src="http://cdn.akc.org/content/article-body-image/lab_puppy_dog_pictures.jpg">
                    <img src="http://cdn.akc.org/content/article-body-image/lab_puppy_dog_pictures.jpg">
                    <img src="http://cdn.akc.org/content/article-body-image/lab_puppy_dog_pictures.jpg">
                    <img src="http://cdn.akc.org/content/article-body-image/lab_puppy_dog_pictures.jpg">
                    <img src="http://cdn.akc.org/content/article-body-image/lab_puppy_dog_pictures.jpg">
                    <img src="http://cdn.akc.org/content/article-body-image/lab_puppy_dog_pictures.jpg">
                    <img src="http://cdn.akc.org/content/article-body-image/lab_puppy_dog_pictures.jpg">
                    
                </div>
    
                <div class="rolling-images-slides">
                    <img src="http://cdn.akc.org/content/article-body-image/lab_puppy_dog_pictures.jpg">
                    <img src="http://cdn.akc.org/content/article-body-image/lab_puppy_dog_pictures.jpg">
                    <img src="http://cdn.akc.org/content/article-body-image/lab_puppy_dog_pictures.jpg">
                    <img src="http://cdn.akc.org/content/article-body-image/lab_puppy_dog_pictures.jpg">
                    <img src="http://cdn.akc.org/content/article-body-image/lab_puppy_dog_pictures.jpg">
                    <img src="http://cdn.akc.org/content/article-body-image/lab_puppy_dog_pictures.jpg">
                    <img src="http://cdn.akc.org/content/article-body-image/lab_puppy_dog_pictures.jpg">
                    <img src="http://cdn.akc.org/content/article-body-image/lab_puppy_dog_pictures.jpg">
                    
                </div>
    
                <div class="rolling-images-slides">
                    <img src="http://cdn.akc.org/content/article-body-image/lab_puppy_dog_pictures.jpg">
                    <img src="http://cdn.akc.org/content/article-body-image/lab_puppy_dog_pictures.jpg">
                    <img src="http://cdn.akc.org/content/article-body-image/lab_puppy_dog_pictures.jpg">
                    <img src="http://cdn.akc.org/content/article-body-image/lab_puppy_dog_pictures.jpg">
                    <img src="http://cdn.akc.org/content/article-body-image/lab_puppy_dog_pictures.jpg">
                    <img src="http://cdn.akc.org/content/article-body-image/lab_puppy_dog_pictures.jpg">
                    <img src="http://cdn.akc.org/content/article-body-image/lab_puppy_dog_pictures.jpg">
                    <img src="http://cdn.akc.org/content/article-body-image/lab_puppy_dog_pictures.jpg">
                    
                </div>
            </div> -->
        </div>
    <!-- 
        <app-introduction></app-introduction> -->
    
        <div id="introduction-screen" class="screen">
            <h2>The Minecraft spinoff of "thispersondoesnotexist" you didn't know you wanted.</h2>
            <p>ThisMinecraftPlayerDoesNotExist is an experiment to see if we could recreate the GAN phenonomen known as thispersondoesnotexist in the context of the voxel sandbox game Minecraft.
                More importantly, we hope this website can introduce people to what GAN's are in a fun, interactive format. We hope you enjoy this as much as we did making this! </p>
            
        </div>
    
        <div id="playground-screen">
            <h2>Playground</h2>
            <app-custom-card title="Build your own Minecraft Skin!"></app-custom-card>
        </div>
    
        <div>
            <h2>Our Process</h2>
            <app-custom-card title="Tools ggggffffffffffffffff f ffff used">
                Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsum
            </app-custom-card>
        </div>
    
        <div id="gan-explanation-screen">
            <h2>How GAN's work</h2>
            <app-custom-card title="Tools used">
                Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsum
            </app-custom-card>
        </div>
    
        <div class="screen" id="about-screen">
            <h2>Mission</h2>
            <p>Our team has dedicated itself to ensuring the next generation of computer scientists and tinkerers can get a working understanding of cutting edge generative technology. Our philosophy is that learning is done best when one is able to play with and get a "feel" of this technology before the math and theory behind it is studied. We believe our product GAN Labs achieves this intuition via the playground activity. Through it, users are able to get a sense for how GAN's are difficult to train and how each of the parameters work together, all without the frustrations and time wasting of training GAN's with one's own resources.</p>
        </div>
    
    </div>
</div>


