<div id="app-main-container">

    <div id="main">

        <div id="landing-screen" class="landing-screen-theme">

            <div id="app-main-header" class="retro-theme-text">
                <a>Home</a>
                <a>Process</a>
                <a>Playground</a>
                <a>Gallery</a>
                <a>About</a>
            </div>

            <div id="landing-showcase">
                <div id="title-text">

                    <h1 id="title-start">This Minecraft Player</h1>

                    <h1 id="dne" class="red-emphasis">DOes NOT </h1>
                    <h1 class="red-emphasis" id="exist">Exist</h1>
                </div>

                <app-minecraft-skin-viewer></app-minecraft-skin-viewer>
            </div>

            <!-- <img id="title-skin" src="/assets/images/landing-page-blowup.png"> -->

            <!-- <div id="rolling-images">
                <div class="rolling-images-slides">
                    <img src="http://cdn.akc.org/content/article-body-image/lab_puppy_dog_pictures.jpg">
                    <img src="http://cdn.akc.org/content/article-body-image/lab_puppy_dog_pictures.jpg">
                    <img src="http://cdn.akc.org/content/article-body-image/lab_puppy_dog_pictures.jpg">
                    <img src="http://cdn.akc.org/content/article-body-image/lab_puppy_dog_pictures.jpg">
                    <img src="http://cdn.akc.org/content/article-body-image/lab_puppy_dog_pictures.jpg">
                    <img src="http://cdn.akc.org/content/article-body-image/lab_puppy_dog_pictures.jpg">
                    <img src="http://cdn.akc.org/content/article-body-image/lab_puppy_dog_pictures.jpg">
                    <img src="http://cdn.akc.org/content/article-body-image/lab_puppy_dog_pictures.jpg">
                    
                </div>
    
                <div class="rolling-images-slides">
                    <img src="http://cdn.akc.org/content/article-body-image/lab_puppy_dog_pictures.jpg">
                    <img src="http://cdn.akc.org/content/article-body-image/lab_puppy_dog_pictures.jpg">
                    <img src="http://cdn.akc.org/content/article-body-image/lab_puppy_dog_pictures.jpg">
                    <img src="http://cdn.akc.org/content/article-body-image/lab_puppy_dog_pictures.jpg">
                    <img src="http://cdn.akc.org/content/article-body-image/lab_puppy_dog_pictures.jpg">
                    <img src="http://cdn.akc.org/content/article-body-image/lab_puppy_dog_pictures.jpg">
                    <img src="http://cdn.akc.org/content/article-body-image/lab_puppy_dog_pictures.jpg">
                    <img src="http://cdn.akc.org/content/article-body-image/lab_puppy_dog_pictures.jpg">
                    
                </div>
    
                <div class="rolling-images-slides">
                    <img src="http://cdn.akc.org/content/article-body-image/lab_puppy_dog_pictures.jpg">
                    <img src="http://cdn.akc.org/content/article-body-image/lab_puppy_dog_pictures.jpg">
                    <img src="http://cdn.akc.org/content/article-body-image/lab_puppy_dog_pictures.jpg">
                    <img src="http://cdn.akc.org/content/article-body-image/lab_puppy_dog_pictures.jpg">
                    <img src="http://cdn.akc.org/content/article-body-image/lab_puppy_dog_pictures.jpg">
                    <img src="http://cdn.akc.org/content/article-body-image/lab_puppy_dog_pictures.jpg">
                    <img src="http://cdn.akc.org/content/article-body-image/lab_puppy_dog_pictures.jpg">
                    <img src="http://cdn.akc.org/content/article-body-image/lab_puppy_dog_pictures.jpg">
                    
                </div>
            </div> -->
        </div>
        <!-- 
        <app-introduction></app-introduction> -->

        <div class="screen">
            <h2 class="screen-title">The Minecraft spinoff of "thispersondoesnotexist" you didn't know you needed.</h2>
            <div class="screen-content">
                <div class="screen-content-text">
                    <app-custom-card title="Introduction">
                        ThisMinecraftPlayerDoesNotExist is an experiment to see if we could recreate the GAN phenonomen
                        known as thispersondoesnotexist in the context of the voxel sandbox game Minecraft.
                        More importantly, we hope this website can introduce people to what GAN's are in a fun,
                        interactive format. We hope you enjoy this as much as we did!
                    </app-custom-card>
                </div>

                <div class="screen-content-img">
                    <img src="/assets/images/skins-intermediate.png">
                </div>

            </div>

        </div>


        <app-gallery></app-gallery>
<!--         
        <div class="screen gallery">
            <h2 class="screen-title">Minecraft Skin Gallery</h2>

            
            <div class="screen-content">
                <div class="gallery-view">
                    <div class="gallery-row">
                        <img *ngFor="let skinImage of skinImages" src="/assets/images/front-back-example.png">
                    </div>
                    <div class="gallery-row">
                        <img *ngFor="let skinImage of skinImages" src="/assets/images/front-back-example.png">
                    </div>
                </div>

                <div class="gallery-highlighted-view">
                    <div class="view-visual">
                        
                    </div>
                    <div class="controls">
                        <div class="view-controls">
                            <mat-checkbox class="example-margin" color="primary">Outer</mat-checkbox>
                            <mat-checkbox class="example-margin" color="primary">Walking</mat-checkbox>
                            <button mat-raised-button color="primary">Download</button>
                        </div>
                        <mat-paginator [length]="10000000" [pageSize]="20"></mat-paginator>
                    </div>
                </div>
            </div>
        </div> -->




        <div class="screen">
            <h2 class="screen-title">Behind the Scenes</h2>
            <div class="screen-content">
                <div class="screen-content-text">
                    <app-custom-card title="Preparing Data">
                        Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem
                        ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsum
                    </app-custom-card>
                    <app-custom-card title="Lightweight GAN">
                        Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem
                        ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsum
                    </app-custom-card>
                </div>

                <div class="screen-content-img">
                    <img src="/assets/images/skins-intermediate.png">
                </div>

            </div>

        </div>

        <div class="screen">
            <h2 class="screen-title">GAN Basics</h2>
            <div class="screen-content">
                <div class="screen-content-text">
                    <app-custom-card title="discriminator vs. generator">
                        Best said by the writers at fast.ai, “GAN stands for Generative Adversarial Nets and were
                        invented by Ian Goodfellow.” A GAN takes in data and creates two elements to generate new
                        images. The first is a critic, a model that will take in the true data and the generated images
                        and determine which is true and which has been generated. The second element is the generator, a
                        model that takes in the data, analyzes similarities, and makes its own, trying to trick the
                        critic into believing its images. Because of this, a GAN improves by attempting to fool itself.
                        <a class="report-link"
                            href="https://colab.research.google.com/github/fastai/fastai/blob/master/nbs/24_vision.gan.ipynb#scrollTo=_YkGTzCj7GhD">source</a>
                    </app-custom-card>
                    <app-custom-card title="inherent instabilities">
                        Due to the adversarial nature of GANs, there is the inherent issue of instability. The two
                        elements of a GAN, the critic and the generator, are trying to get the best of each other, and
                        both grow through this competition. If one were to become stronger than the other, competition
                        begins to dissolve, and neither model improves.
                    </app-custom-card>
                </div>

                <div class="screen-content-img">
                    <img src="/assets/images/skins-intermediate.png">
                </div>

            </div>

        </div>

    </div>
</div>

<app-gallery></app-gallery>