<mat-card class="developer-card">
    <mat-card-header>
        <div mat-card-avatar class="profile-pic"></div>
        <mat-card-title>{{name}}</mat-card-title>
        <mat-card-subtitle>{{role}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>{{selfDescription}}</mat-card-content>
</mat-card>
<!-- 
<mat-card class="developer-links">
    <mat-card-content>
        Discord: @lebrink<br>
        Facebook: brinky<br>
        Twitter: Brinking<br>
    </mat-card-content>
</mat-card> -->