.profile-pic {
    background-image: url('https://yt3.ggpht.com/ytc/AAUvwnhkZjfj3AhZNOvbxzIzVLTKZZHGLAlIHVstuYx1=s900-c-k-c0x00ffffff-no-rj');
    background-size: cover;
}

.developer-card {
    width: 40vw;
    min-width: 250px;
    max-width: 300px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 40px;
}