.gallery-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.paginator {
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#gallery-view {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 90vw;
    height: 100%;
    margin: 10px;
}

// https://stackoverflow.com/questions/18744164/flex-box-align-last-row-to-grid
#gallery-view::after {
    content: "";
    flex: auto;
  }

app-gallery-thumbnail {
    width: 200px;
    padding: 10px;
}