#gallery-view {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50vw;
}

.gallery-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

app-gallery-thumbnail {
    width: 8vw;
}