div {
    width: 90%;
    height: 90%;
    color: gray;
    font-size: 16px;
    padding-right: 50px;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    //background: linear-gradient(to right, blue 0%, red 50%, orange 100%);
}