<div id="play-master-container">

    <div id="information-display">
        <div id="image-output">
            <div id="images">
                <img *ngFor="let cat of cats; let i = index" src="https://timesofindia.indiatimes.com/photo/67586673.cms">
            </div>
            
            <div id="output-filter">
                <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">stacked_line_chart</mat-icon>
                    </button>
                    <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">collections</mat-icon>
                    </button>
            </div>
            
        </div>
    
        <div id="graph-output">
            Guided explanation / quiz
        </div>
    </div>
    
    <mat-card id="controller-section">
        <mat-card-header>
          <mat-card-title>Control Panel</mat-card-title>
          <mat-card-subtitle>Adjust the following parameters until you fix the GAN!</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            Learning Rate: <mat-slider></mat-slider><br>
            Batch Size: <mat-slider></mat-slider><br>
            : <mat-slider></mat-slider>
    
            <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="1">DCGAN</mat-radio-button>
                <mat-radio-button value="2">Wassertein GAN</mat-radio-button>
                <mat-radio-button value="3">Classic GAN</mat-radio-button>
            </mat-radio-group>
        </mat-card-content>
      </mat-card>


    <div id="controller-section">
        
       
       
    </div>

</div>
<div>
    <div class="learning-section">

    </div>
</div>