@import "~@angular/material/theming";

@include mat-core();

$retro-app-primary: mat-palette($mat-indigo, A400, A100, A100);
$retro-app-accent: mat-palette($mat-deep-orange, A400, A200, A400);

$retro-app-warn: mat-palette($mat-green);

$retro-app-theme: mat-light-theme((
    color: (
        primary: $retro-app-primary,
        accent: $retro-app-accent,
        warn: $retro-app-warn,
    )
));

// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.

@font-face {
    font-family: BebasNeue-Regular;
    src: url('/assets/fonts/BebasNeue/BebasNeue-Regular.otf') format("opentype");
 }

$custom-typography: mat-typography-config(
  $font-family: 'BebasNeue-Regular',
  $headline: mat-typography-level(64px, 40px, 700),
  $body-1: mat-typography-level(24px, 16px, 100)
);


html, body { height: 100%; }
html { overflow-y: scroll; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@include angular-material-theme($retro-app-theme);
//@include angular-material-typography($custom-typography);



.retro-theme-text {
    font-family: 'BebasNeue-Regular';
}

:root {
    --color-primary: #{mat-color($retro-app-primary)};
    --color-accent: #{mat-color($retro-app-accent)};
    --color-warn: #{mat-color($retro-app-warn)};
  }

@mixin header-text {
    color: black;
    font-family: BebasNeue-Regular;
    //text-decoration: underline;
    letter-spacing: 2px;
    font-size: 64px;
    -webkit-text-decoration-color: var(--color-accent);
    text-decoration-color: var(--color-accent);
}


/* You can add global styles to this file, and also import other style files */

